@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #0f172a;
  --color-secondary: #94a3b8;
  --color-accent: #6366f1;
  --color-muted: #94a3b8;
  --color-back: #f1f5f9;
  --color-white: #ffffff;
  --color-slate500: #334155;
}

body {
  @apply bg-white font-inter;
}

@layer base {
  html {
    overflow-y: scroll;
  }
}
